@media only screen and (max-width: 500px) {
  .companies-logo-wrapper {
    width: 100%;
    margin-top: 50px;
    padding: 0 0 20px;
  }
}

.companies-logo-wrapper {
  width: 100%;
  margin-top: 60px;
  text-align: center;
}

@media only screen and (max-width: 500px) {
  .companies-logo-wrapper .companies-logo-gradient {
    text-align: center;
    font-size: 12px;
    margin: 8px auto;
  }
}

.companies-logo-wrapper .companies-logo-gradient {
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  background: linear-gradient(276.97deg, #992fed, #2f80ed);
  background-clip: text;
}

@media only screen and (max-width: 500px) {
  .companies-logo-wrapper .companies-logo-heading {
    text-align: center;
    font-size: 24px;
  }
}

.companies-logo-wrapper .companies-logo-heading {
  font-weight: 700;
  font-size: 42px;
  color: #2b2f34;
}

@media only screen and (max-width: 500px) {
  .companies-logo-wrapper .role-change-company {
    color: #2f80ed;
    font-size: 26px;
    font-weight: 700;
  }
}

.companies-logo-wrapper .role-change-company {
  color: #2f80ed;
  font-size: 42px;
  font-weight: 700;
}

@media only screen and (max-width: 500px) {
  .logo-wrapper .companies-logo .logo-holder img {
    height: 30px;
    width: 100px;
  }
}
.logo-wrapper .companies-logo .logo-holder img {
  height: 60px;
  width: 200px;
}

@media only screen and (max-width: 500px) {
  .logo-wrapper .companies-logo {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 15px auto;
  }
}

.logo-wrapper .companies-logo {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 30px auto;
}

@media only screen and (max-width: 500px) {
  .logo-wrapper .companies-logo .logo-holder {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: -moz-max-content;
    width: max-content;
    margin: 0 20px;
    padding: 10px;
    border-radius: 8px;
  }
}
.logo-wrapper .companies-logo .logo-holder {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: -moz-max-content;
  width: max-content;
  margin: 0 20px;
  padding: 10px;
  border-radius: 8px;
}

@media only screen and (max-width: 500px) {
  .companies-logo-text {
    text-align: center;
    font-size: 14px;
    margin: 8px 0;
  }
}
.companies-logo-text {
  font-size: 18px;
  color: #595959;
}
